.headerTitle{
text-align: left;
font-size: 30px;
color: coral;
}

.fa-lg{
  position: relative;
  top: 80px;
}

.fa-file-export{
  position: relative;
  top: 80px;
}

.fa-heart{
  position: relative;
  top: 80px;
}

