#postContainer {
  display: grid;
  grid-template-columns: 950px 1fr;
  grid-template-areas: 
    " postArea profileArea";
}

#profileArea {
	grid-area: profileArea;
	background: white;
	height: 30%;
	padding: 0.5em 1em;
	margin: 30px;
	border-radius: 20px;
  }

#postArea{
  grid-area: postArea;
  background: white;
  height: 80%;
  padding: 0.5em 1em;
  margin: 30px;
  border-radius: 20px;
}



