.container{
  box-sizing: border-box;
  background: red;
  height : 300px;
  width: 300px;
  padding: 10px 35px;
}

.container .WorkImage{
  text-align: center;
  height : 230px;
  padding-bottom: 10px;
}

.container .WorkImage img{
  border-radius: 10%;
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.container .description, .container .userName{
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}
