

#workDetailContainer {
	display: grid;
	height: 100vh;
	grid-template-columns: 950px 1fr;
	grid-template-areas: 
	  "wd-container profileArea";
  }
  
  #wd-container{
	grid-area: wd-container;
	background: white;
	height: 80%;
	padding: 0.5em 1em;
	margin: 30px;
	border-radius: 20px;
  }
  
  #profileArea {
	grid-area: profileArea;
	background: white;
	height: 70%;
	padding: 0.5em 1em;
	margin: 30px;
	border-radius: 20px;
  }


.title {
	position: relative;

}

input.box1{
    width: 500px;
   
}
input.box2{
width: 500px;
height: 500px;
}
.title input[type=text] {
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 5px;
	outline: none;
}